.main_block {
    display: flex;
    width: fit-content;
    background: midnightblue;
    padding: 10px;
    border-radius: 20px;
    border-style: dotted;
    border-width: 5px;
    border-color: gold;
}
.flights_block{
    display: flex;
    width: 820px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.launch_block{
    box-sizing: border-box;
    width: 400px;
    background: powderblue;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
}

