
.name_of_page{
    background-color: silver;
    color: mediumvioletred;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    font-family: 'Cooper Black',sans-serif;
    font-size: xxx-large;
    text-align: center;
}
.post_style{
    background-color: #7542b0;
    color: yellow;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    font-family: 'Courgette',sans-serif;
    font-size: xx-large;
    text-align: center;
}
