.txt{
    text-align: justify;
    background-color: mediumpurple;
    color: yellow;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    font-family: 'Courgette',sans-serif;
    font-size: x-large;
}

.item1{
    text-align:center;
    background-color: #d34e9c;
    color: yellow;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    font-family: 'Courgette',sans-serif;
    font-size: x-large;
}

.item2{
    text-align:center;
    background-color: #79478f;
    color: yellow;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    font-family: 'Courgette',sans-serif;
    font-size: x-large;
}

.item3{
    text-align:center;
    background-color: darkmagenta;
    color:yellow;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    font-family: 'Courgette',sans-serif;
    font-size: x-large;
}
button{
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    width: 300px;
    height: 30px;
    font-family: "Cooper Black",sans-serif;
    font-size: 20px;
    color: mediumvioletred;
    border-color: ghostwhite;
}
hr{
    border-color: goldenrod;
    border-style: dashed;
    border-width:0 0 8px 0;
}